.vscode
/eng_scripts

# Release files
*.rpa
.android.json

# Compiled scripts
*.rpyc
*.rpyb
*.rpymc
game/cache/

# Logs
log.txt
error.txt
traceback.txt

# RenPy files
lib/
renpy/
game/saves/

# DDLC-specific
DDLC.exe
DDLC.py
DDLC.sh
characters/yuri.chr
characters/sayori.chr
characters/monika.chr
game/python-packages/singleton.py
